.navLinks > * {
  color: azure !important;
}

.link:hover {
  color: var(--thirdColor) !important;
  font-weight: bold;
}

.modal-content {
  background-color: var(--background) !important;
}

span {
  color: white;
}