.navLinks > * {
  color: azure !important;
}

.link:hover {
  color: var(--thirdColor) !important;
  font-weight: bold;
  -webkit-text-stroke-width: .75px;
  -webkit-text-stroke-color: var(--secondaryColor);
}

.modal-content {
  background-color: var(--background) !important;
}

span {
  color: white;
}