:root {
  --background: #000000;
  --secondaryColor: #2F2B1F;
  --thirdColor: #C4976E;
}

#root {
  font-size: 28px;
}

.menuCard {
  font-size: 16px;
  color: white;
  border-bottom: white solid;
  padding: 4px;
}

.menuTitle {
  color: white;
  border-bottom: white solid;
}